<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/thucdon.css" />
    <link rel="stylesheet" href="~/Content/icon/fontawesome-free-6.6.0/css/all.min.css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="trangchu" class="logo">
                <img src="~/Content/Images/domino-horizontal-dark.svg" alt="">
            </a>

            <div id="menu">
                <div class="item">
                    <a href="">KHUYẾN MÃI</a>
                </div>
                <div class="item">
                    <a href="">THỰC ĐƠN</a>
                </div>
                <div class="item">
                    <a href="">THEO DÕI ĐƠN HÀNG</a>
                </div>
                <div class="item">
                    <a href="">DANH SÁCH CỬA HÀNG</a>
                </div>
                <div class="item">
                    <a href="">BLOG</a>
                </div>
            </div>
            <div id="actions">
                <div class="item">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="item-cart">
                    <a href="cart.html">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </div>



        <div id="banner">
            <div class="banner-content">
                <div class="delivery-options">
                    <button class="delivery-active">Giao Hàng Tận Nơi</button>
                    <button class="carry-out">Đặt Đến Lấy</button>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Vui Lòng Nhập Địa Chỉ Nhận Hàng">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="menu-categories">
                <ul>
                    <li><a href="#">Khuyến Mãi Mỗi Ngày</a></li>
                    <li><a href="#" class="active">Pizza</a></li>
                    <li><a href="#">Gà</a></li>
                    <li><a href="#">Mì Ý</a></li>
                    <li><a href="#">Tráng Miệng</a></li>
                    <li><a href="#">Khai Vị</a></li>
                    <li><a href="#">Thức Uống</a></li>
                </ul>
            </div>
            <div id="filter-container">
                <div class="filter">
                    <button class="filter-active">Tất Cả</button>
                    <button class="filter">
                        <img src="~/Content/Images/tom.png" alt="Hải Sản">Hải Sản
                    </button>
                    <button class="filter">
                        <img src="~/Content/Images/bo.png" alt="Bò">Bò
                    </button>
                    <button class="filter">
                        <img src="~/Content/Images/ga.png" alt="Gà">Gà
                    </button>
                    <button class="filter">
                        <img src="~/Content/Images/bacon.png" alt="Heo">Heo
                    </button>
                    <button class="filter">
                        <img src="~/Content/Images/rau.png" alt="Ăn Chay">Ăn Chay
                    </button>
                </div>
            </div>
            <div class="text">
                SIÊU TOPPINGS
            </div>
            <div class="product-list">
                <ul div id="list-product">
                    <div class="pizza-item">
                        <img src="~/Content/Images/1.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Bơ Gơ Bò Mỹ Xốt Phô Mai Ngập Vị - Super Topping American Cheeseburger</h3>
                        <p>9 inch - 235,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/2.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Bơ Gơ Bò Mỹ Xốt Habanero Cay Nồng - Super Topping Habanero Cheeseburger</h3>
                        <p>9 inch - 235,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/3.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Hải Sản Xốt Pesto "Chanh Sả" - Super Topping Seafood Lime Pesto</h3>
                        <p>9 inch - 235,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/4.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Hải Sản Xốt Mayonnaise Hảo Hạng - Super Topping Seafood Mayo</h3>
                        <p>9 inch - 235,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/5.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Hải Sản Xốt Mayonnaise - Super Topping Ocean Mania</h3>
                        <p>9 inch - 235,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/6.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Hải Sản Nhiệt Đới Xốt Tiêu - Super Topping Pizzamin Sea</h3>
                        <p>9 inch - 235,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/7.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Bò Và Tôm Nướng Kiểu Mỹ - Super Topping Surf And Turf</h3>
                        <p>9 inch - 235,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/8.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Dăm Bông Dứa Kiểu Hawaiian - Super Topping Hawaiian</h3>
                        <p>9 inch - 205,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/9.png" alt="Pizza">
                        <h3>Pizza Siêu Topping Xúc Xích Ý Truyền Thống - Super Topping Pepperoni</h3>
                        <p>9 inch - 235,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                </ul>


                <div class="text1">
                    ĐẠI TIỆC HẢI SẢN
                </div>


                <ul div id="list-product1">
                    <div class="pizza-item">
                        <img src="~/Content/Images/10.png">
                        <h3>Pizza Hải Sản Xốt Pesto "Chanh Sả" - Seafood Lime Pesto</h3>
                        <p>9 inch - 215,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>

                    <div class="pizza-item">
                        <img src="~/Content/Images/11.png">
                        <h3>Pizza Bò & Tôm Nướng Kiểu Mỹ - Surf & Turf</h3>
                        <p>9 inch - 205,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/12.png">
                        <h3>Pizza Hải Sản Xốt Mayonnaise - Ocean Mania</h3>
                        <p>9 inch - 205,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/14.png">
                        <h3>Pizza Hải Sản Nhiệt Đới Xốt Tiêu - Pizzamin SeaPizza Hải Sản Nhiệt Đới Xốt Tiêu - Pizzamin Sea</h3>
                        <p>9 inch - 205,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/15.png">
                        <h3>Pizza Hải Sản Xốt Cà Chua - Seafood Delight</h3>
                        <p>9 inch - 205,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                </ul>


                <div class="text2">
                    LỰA CHỌN CHO BÉ
                </div>


                <ul div id="list-product2">
                    <div class="pizza-item">
                        <img src="~/Content/Images/16.png" alt="Pizza">
                        <h3>Pizza Xúc Xích Dứa Xốt BBQ Mayo - BBQ Mayo Sausage & Pineapple</h3>
                        <p>9 inch - 175,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/17.png" alt="Pizza">
                        <h3>Pizza Thanh Cua Dứa Xốt Phô Mai - Cheesy Crab Stick & Pineapple</h3>
                        <p>9 inch - 175,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/18.png" alt="Pizza">
                        <h3>Pizza Dăm Bông Bắp Xốt Phô Mai - Cheesy Ham & Corn</h3>
                        <p>9 inch - 175,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/19.png" alt="Pizza">
                        <h3>Pizza Xúc Xích Xốt Phô Mai - Sausage Kid Mania</h3>
                        <p>9 inch - 175,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/20.png" alt="Pizza">
                        <h3>Pizza Gà Phô Mai Thịt Heo Xông Khói - Cheesy Chicken Bacon</h3>
                        <p>9 inch - 175,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                </ul>


                <div class="text3">
                    HUYỀN THOẠI PIZZA MỸ
                </div>


                <ul div id="list-product3">
                    <div class="pizza-item">
                        <img src="~/Content/Images/21.png" alt="Pizza">
                        <h3>Pizza New York Bò Beefsteak Phô Mai - New York CheeseSteak</h3>
                        <p>9 inch - 215,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/22.png" alt="Pizza">
                        <h3>Pizza Thập Cẩm Thượng Hạng - Extravaganza</h3>
                        <p>9 inch - 205,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/23.png" alt="Pizza">
                        <h3>Pizza Ngập Vị Phô Mai Hảo Hạng - Cheesy Madness</h3>
                        <p>9 inch - 175,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/24.png" alt="Pizza">
                        <h3>Pizza Rau Củ Thập Cẩm - Veggie Mania</h3>
                        <p>9 inch - 155,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/25.png" alt="Pizza">
                        <h3>Pizza 5 Loại Thịt Thượng Hạng - Meat Lovers</h3>
                        <p>9 inch - 205,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/26.png" alt="Pizza">
                        <h3>Pizza Xúc Xích Ý Truyền Thống - Pepperoni Feast</h3>
                        <p>9 inch - 205,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/27.png" alt="Pizza">
                        <h3>Pizza Dăm Bông Dứa Kiểu Hawaii - Hawaiian</h3>
                        <p>9 inch - 175,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                    <div class="pizza-item">
                        <img src="~/Content/Images/28.png" alt="Pizza">
                        <h3>Pizza Phô Mai Truyền Thống - Cheese Mania</h3>
                        <p>9 inch - 155,000₫</p>
                        <button class="addCart">Thêm Vào Giỏ Hàng</button>
                    </div>
                </ul>
            </div>
        </div>


        <div>
            @RenderBody()
        </div>
</body>
</html>
