<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/trangchu.css" />
    <link rel="stylesheet" href="~/Content/icon/fontawesome-free-6.6.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="http://localhost:62008/Home/trangchu" class="logo">
                <img src="~/Content/Images/domino-horizontal-dark.svg" alt="">
            </a>

            <div id="menu">
                <div class="item">
                    <a href="">KHUYẾN MÃI</a>
                </div>
                <div class="item">
                    <a href="thucdon">THỰC ĐƠN</a>
                </div>
                <div class="item">
                    <a href="">THEO DÕI ĐƠN HÀNG</a>
                </div>
                <div class="item">
                    <a href="">DANH SÁCH CỬA HÀNG</a>
                </div>
                <div class="item">
                    <a href="">BLOG</a>
                </div>
            </div>
            <div id="actions">
                <div class="item">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="item">
                    <a href="cart.html">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
            </div>
        </div>


        @*<div class="slider">
            <div class="list">
                <div class="items">
                    <img src="~/Content/Images/banner1.png">
                </div>
                <div class="item">
                    <img src="~/Content/Images/banner2.png">
                </div>
                <div class="item">
                    <img src="~/Content/Images/banner3.png">
                </div>
                <div class="item">
                    <img src="~/Content/Images/banner4.png">
                </div>
                <div class="item">
                    <img src="~/Content/Images/banner5.png">
                </div>
                <div class="item">
                    <img src="~/Content/Images/banner6.png">
                </div>
                <div class="item">
                    <img src="~/Content/Images/banner7.png">
                </div>
                <div class="item">
                    <img src="~/Content/Images/banner8.png">
                </div>
            </div>
            <div class="buttons">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <ul class="dots">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>*@


    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/Images/banner1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/banner2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/banner3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


        <div id="banner">
            <div class="banner-content">
                <div class="delivery-options">
                    <button class="delivery-active">Giao Hàng Tận Nơi</button>
                    <button class="carry-out">Đặt Đến Lấy</button>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Vui Lòng Nhập Địa Chỉ Nhận Hàng">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="product">

            <div id="text">
                <div class="chu">
                    <a>Hôm Nay Ăn Gì???</a>
                </div>
                <div class="chu">
                    <a href="">Khuyến Mãi Mỗi Ngày</a>
                </div>
                <div class="chu">
                    <a href="">Best-Seller</a>
                </div>
            </div>
        </div>
        <div id="content">
            <ul div class="bsl">
                <div class="sp">
                    <img src="~/Content/Images/1.png" alt="Pizza">
                    <h3>Pizza Siêu Topping Bơ Gơ Bò Mỹ Xốt Phô Mai Ngập Vị - Super Topping American Cheeseburger</h3>
                    <p>MEDIUM - 205,000₫</p>
                </div>
                <div class="sp">
                    <img src="~/Content/Images/10.png">
                    <h3>Pizza Hải Sản Xốt Pesto "Chanh Sả" - Seafood Lime Pesto</h3>
                    <p>MEDIUM - 215,000₫</p>
                </div>
                <div class="sp">
                    <img src="~/Content/Images/23.png" alt="Pizza">
                    <h3>Pizza Ngập Vị Phô Mai Hảo Hạng - Cheesy Madness</h3>
                    <p>MEDIUM - 175,000₫</p>
                </div>
                <div class="sp">
                    <img src="~/Content/Images/7.png" alt="Pizza">
                    <h3>Pizza Siêu Topping Bò Và Tôm Nướng Kiểu Mỹ - Super Topping Surf And Turf</h3>
                    <p>MEDIUM - 235,000₫</p>
                </div>
            </ul>
            <div class="bs">
                <button a href="file:///C:/Emmino/thucdon.html">
                    Xem Thêm
                </button>
            </div>
        </div>
        <div id="footer">
            <div class="box">
                <div class="logo">
                    <img src="Images/domino-horizontal-dark.svg" alt="">
                </div>
                <h3>Hotline Đặt Hàng</h3>
                <p>1900 6099</p>
            </div>
            <div class="box">
                <ul class="quick-menu">
                    <div class="it">
                        <a href="">Trang Chủ</a>
                    </div>
                    <div class="it">
                        <a href="">Thực Đơn</a>
                    </div>
                    <div class="it">
                        <a href="">Blog</a>
                    </div>
                    <div class="it">
                        <a href="">Danh Sách Cửa Hàng</a>
                    </div>
                </ul>
            </div>
            <div class="box">
                <h2>LIÊN HỆ VỚI CHÚNG TÔI:</h2>
                <div class="action">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="action">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="action">
                    <img src="~/Content/Images/ft.png">
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
        @*<script src="~/Content/js/trangchu.js"></script>*@
</body>
</html>
